* {
    margin: 0;
    display: flex;
    /* align-items: center;
    justify-content: center; */

    color: #9cc2ff;
    text-decoration: none;
    background-color: #01011c;
    font-family: "Courier New";
}

head title {
    display: none;
    justify-content: center;
    height: 20vh;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.button-container input {
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #c3b3ff;
    width: 100%;
    /* border-radius: 10px; */

    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 100px;
    transition: border 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.button-container input:focus {
    outline: none;
}

.hidden {
    display: none;
    visibility: none;
}

script {
    display: none;
    visibility: hidden;
}

#login {
    position:relative;
    margin: 0;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    overflow-x: hidden;
    /* margin: 20px; */
}

.row-card {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

}

#ribbon {
    display: flex;
    width: 87vw;
    height: 25px;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;

    border-radius: 5px;
}

h1 {
    margin: 20px;
}

.ribbon-item {
    margin: 0;
    width: 80px;
    height: 25px;
}

.ribbon-item:hover {
    opacity: 0.6;
}

.ribbon-item img {
    object-fit: cover;
}


#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--tile-width), 1fr));
    row-gap: 20px;
    column-gap: 20px;
    width: 90vw;

    margin: 40px;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #01011c;
}

::-webkit-scrollbar-thumb {
    background: #4848ff;
    border-radius: 10px;
}


